[Unit]
Descriptionn=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
User=%i
Environment="PATH=/usr/bin:/home/%i/bin"
StandardOutput=syslog
StandardError=syslog
